/* CSS para el diseño */

/* Clase CSS para la fuente Roboto Slab */
.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-weight: 400; /* Puedes cambiar el peso si lo deseas */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px; /* Aumentado para una mejor presentación */
    margin: 0 auto;
    padding: 10px;
}

header, .section {
    background-color: #e0e0e0;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px; /* Añadido para un borde más suave */
}

h1, h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 700; /* Aumentado para un mejor contraste */
}

.tasks {
    padding: 10px;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añadido para una sombra sutil */
}

.tasks p {
    margin: 5px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row .section {
    flex: 1;
    margin: 5px;
}

/* Formulario */
.task-form {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añadido para una sombra sutil */
}

.task-form input, .task-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.task-form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.task-form button:hover {
    transform: scale(1.05); /* Cambiado a scale para un efecto más suave */
}

/* Estilo para el botón de añadir tarea */
.add-task-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 0;
}

.add-task-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    display: none; /* Por defecto no se muestra */
}

.delete-btn:hover {
    background-color: darkred;
}
